{% extends "user/home_layout.html" %}

{% block navnews %}
  <a class="nav-link active" href="{{url_for('community_news')}}">Community News</a>
{% endblock navnews %}

{% block content %}
    <div class="my-5 py-4">
      <!-- Page Content -->
      <div class="container mt-2">
        <!-- Community News -->
        <div class="row justify-content-center">
          <div class="col-md-11">
            <h1 class="display-3">Community News</h1>
            <p class="lead">Embrace the vibrant spirit of our community through the lens of the Community News section. This isn't just a place for updates; it's your personal portal to the beating heart of our neighborhood. Get ready to immerse yourself in a world where each piece of news connects you, enriches your experience, and solidifies your bond with the thriving community around you.</p>
            <!-- News 1 -->
            <div>
            <h5>Recent Events and Achievements</h5>
            <img src="path/to/news2.jpg" alt="News 2 Image">
            <p class="lead">Stay updated on recent community events, achievements, and milestones. From successful safety initiatives to cultural celebrations, this section highlights the positive moments that define our neighborhood.</p>
            </div>
            <!-- News 2 -->
            <div>
            <h5>Safety Alerts and Reminders</h5>
            <img src="path/to/news2.jpg" alt="News 2 Image">
            <p class="lead">Receive timely safety alerts and reminders to stay vigilant and informed. Whether it's an update on local incidents or important safety tips, this section prioritizes your well-being and keeps you prepared for any potential challenges.</p>
            </div>
            <!-- News 3 -->
            <div>
            <h5>Upcoming Community Gatherings</h5>
            <img src="path/to/news2.jpg" alt="News 2 Image">
            <p class="lead">Discover details about upcoming community gatherings, meetings, and social events. From safety training sessions to cultural festivals, be sure to mark your calendar and join your fellow residents in these engaging and enriching activities.</p>
            </div>
            <!-- News 4 -->
            <div>
            <h5>Neighbor Spotlights</h5>
            <img src="path/to/news2.jpg" alt="News 2 Image">
            <p class="lead">Get to know your neighbors through our Neighbor Spotlights. This section features interviews and stories that showcase the diverse personalities, talents, and contributions of individuals within our community</p>
            </div>
            <!-- News 5 -->
            <div>
            <h5>Community Initiatives and Projects</h5>
            <img src="path/to/news2.jpg" alt="News 2 Image">
            <p class="lead">Learn about ongoing community initiatives and projects that aim to improve and enhance our neighborhood. From environmental sustainability projects to local improvement efforts, find out how you can contribute to making a positive impact.</p>
            </div>
            <!-- News 6 -->
            <div>
            <h5>Local Business Highlights</h5>
            <img src="path/to/news2.jpg" alt="News 2 Image">
            <p class="lead">Support local businesses by staying informed about featured businesses in our community. This section highlights the diverse range of local establishments, encouraging residents to explore and contribute to the local economy.</p>
            </div>
            <!-- News 7 -->
            <div>
            <h5>Educational Updates</h5>
            <img src="path/to/news2.jpg" alt="News 2 Image">
            <p class="lead">For families with school-age children, this section provides educational updates, news from local schools, and information about upcoming school-related events. Stay connected to the educational fabric of our community.</p>
            </div>
            <!-- News 8 -->
            <div>
            <h5>Health and Wellness Tips</h5>
            <img src="path/to/news2.jpg" alt="News 2 Image">
            <p class="lead">Prioritize your health and well-being with useful tips and information in this section. From fitness challenges to wellness resources, we aim to support a healthy lifestyle for all residents.</p>
            </div>
            <!-- News 9 -->
            <div>
            <h5>Civic Engagement Opportunities</h5>
            <img src="path/to/news2.jpg" alt="News 2 Image">
            <p class="lead">Discover opportunities for civic engagement, town hall meetings, and community-driven projects. This section empowers you to actively participate in shaping the future of our neighborhood.</p>
            </div>
            <!-- News 10 -->
            <div>
              <h5>Volunteer and Community Service Opportunities</h5>
              <img src="path/to/news2.jpg" alt="News 2 Image">
              <p class="lead">Explore ways to give back to the community through volunteer and service opportunities. From neighborhood clean-ups to supporting local charities, find fulfilling ways to make a positive impact.</p>
              </div>
              <br>
              <div>
                <h5 class="outro_mess">We invite you to explore the Community News section regularly to stay connected, engaged, and well-informed. Our commitment is to provide content that enriches your experience as a valued member of the Community Safety Network. Together, we build a stronger, safer, and more united community.</h5>
              </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
 
