{% extends "user/home_layout.html" %}

{% block navservices %}
  <a class="nav-link active" href="{{url_for('emergency_services')}}">Emergency Services</a>
{% endblock navservices %}

{% block content %}
    <div class="my-5 py-4">
        <!-- Page Content -->
      <div class="container mt-2">
        <!-- Emergency Services -->
        <div class="row justify-content-center">
          <div class="col-md-11">
            <h1 class="display-3">Emergency Services</h1>
            <p class="lead">Welcome to the Emergency Services haven, where information transforms into a lifeline during critical junctures. This isn't just a section; it's your virtual guardian, standing ready to provide essential resources and guidance when you need it the most. Get ready to experience a newfound sense of empowerment as you navigate through this crucial space, turning moments of crisis into opportunities for resilience.</p>
            <!-- Emergency Services 1 -->
            <div>
            <h5>Emergency Contact Information</h5>
            <img src="path/to/news2.jpg" alt="emergency 2 Image">
            <p class="lead">Access a comprehensive list of emergency contact information, including local police, fire departments, medical services, and other essential services. In times of urgency, having quick access to these contacts can make a significant difference.</p>
            </div>
            <!-- Emergency Services 2 -->
            <div>
            <h5>Guidelines for Emergency Situations</h5>
            <img src="path/to/news2.jpg" alt="emergency 2 Image">
            <p class="lead">Find guidelines and instructions on how to handle various emergency situations. Whether it's a medical emergency, fire, or another critical incident, this section will provide you with valuable information on what steps to take to ensure your safety and the safety of those around you.</p>
            </div>
            <!-- Emergency Services 3 -->
            <div>
            <h5>Emergency Preparedness Resources</h5>
            <img src="path/to/news2.jpg" alt="emergeency 2 Image">
            <p class="lead">Explore resources to help you prepare for emergencies. This may include checklists, guides, and tips on creating emergency kits for your home. Being prepared is key to effectively navigating unexpected situations.</p>
            </div>
            <!-- Emergency Services 4 -->
            <div>
            <h5>Real-Time Emergency Alerts</h5>
            <img src="path/to/news2.jpg" alt="emergeency 2 Image">
            <p class="lead">Receive real-time emergency alerts directly through this platform. Stay informed about critical incidents in your community and follow the recommended actions to ensure your safety. Timely information is crucial during emergencies, and this section aims to keep you updated.</p>
            </div>
            <!-- Emergency Services 5 -->
            <div>
            <h5>Community Support Networks</h5>
            <img src="path/to/news2.jpg" alt="emergeency 2 Image">
            <p class="lead">During challenging times, community support is essential. This section provides information on community support networks, volunteer groups, and resources available to residents during and after emergencies.</p>
            </div>
            <br>
            <div>
              <h5 class="outro_mess">Your safety is our priority. Explore the Emergency Services section regularly to stay informed and prepared for any unexpected situations that may arise in our community.</h5>
            </div>

          </div>
        </div>
      </div>
    </div>

{% endblock content %}

