{% extends "user/home_layout.html" %}

{% block navmore %}
<a class="nav-link active" href="{{url_for('more_services')}}">More Features++</a>
{% endblock navmore %}

{% block content %}
    <div class="my-5 py-4">
      <!-- Page Content -->
      <div class="container mt-2">
        <!-- Community News -->
        <div class="row justify-content-center">
          <div class="col-md-11">
            <!-- Page Content -->

            </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    
