{% extends "user/userinterface.html" %}



{% block othercontent %}
<div class="pt-2">
    <p>Schools Nearby</p>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 bgcolor">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body bgcolor">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bgcolor">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body bgcolor">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a short card.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bgcolor">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body bgcolor">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock othercontent %}


{% block mid_content %}
{% endblock mid_content %}
{% block right_content %}
{% endblock right_content %}

