{% extends "user/userinterface.html" %}


{% block left_content %}
<div class="col-sm-3 scroll d-none d-sm-none d-md-block pt-5">
    <div class="tab1 pt-3">
        {% for user in all_users %}
        {% if user.user_id != deets.user_id %}
        <div class="row">
            <div class="col-12 mb-2">
                <a href="/send-message/{{user.user_id}}">
                    <div>
                        {% if user.user_picture %}
                        <img id="msg_img" src="/static/profile_pictures/{{user.user_picture}}" width="60px" height="60px" alt="{{ user.user_fname }} {{ user.user_lname }}">
                        {% else %}
                        <img id="msg_img" src="/static/images/user.jpeg" width="60px" height="60px" alt="{{ user.user_fname }} {{ user.user_lname }}">
                        {% endif %}
                        <span> {{ user.user_fname }} {{ user.user_lname }}</span>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div> 
</div>
{% endblock left_content %}

{% block otherpages %}
{% endblock otherpages %}

{% block mid_content %}
<div class="col-sm-5 tab2 pt-4 scroll">
 <div class="row justify-content-center">
    <div class="col-9 pt-5">
        <h5 class="display-6">Select a Community Member to Send a Message</h5>
        
        
    </div>
  </div>
</div>
{% endblock mid_content %}
{% block right_content %}
<div class="col-sm-3 tab3 pt-3 scroll d-none d-sm-none d-md-block">
  {% with message = get_flashed_messages(with_categories=True) %}
  {% if message %}
  {% for cat, msg in message %}
  {% if cat == 'error' %}
      <div class="alert alert-danger noround">
          {{ msg }}
      </div>
  {% else %}
      <div class="alert alert-info noround">
          {{ msg }}
      </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

  



  </div>
{% endblock right_content %}

