{% extends "user/userinterface.html" %}




{% block othercontent %}
<div class="row justify-content-center">
<div class="card mb-3 bgcolor" style="max-width: 740px;">
  <h5 class="display-4">Featured Services</h5>
  {% for service in featured_services %}
  <hr style="color:aliceblue">
    <div class="row align-items-center">
      <div class="col-md-4 bgcolor">
        <img src="/static/featured_images/{{ service.featured_img_file }}" class="rounded-start img-fluid"  alt="{{ service.featured_name }}">
      </div>
      <div class="col-md-7">
        <div class="card-body bgcolor">
          <h5 class="card-title display-4">{{ service.featured_name }}</h5>
          <p class="card-text text-light feat">{{service.featured_desc }}</p>
          <h5 class="card-text feat">{{service.featured_address }}</h5>
          <h5 class="card-text feat">{{service.featured_phone }}</h5>
          <h5 class="card-text feat">{{service.featured_email }}</h5>
        </div>
      </div>
    </div>
    <br>
    {% endfor %}
  </div>
</div>

{% endblock othercontent %}


{% block mid_content %}
{% endblock mid_content %}
{% block right_content %}
{% endblock right_content %}

