{% extends "user/userinterface.html" %}




{% block othercontent %}
<div class="row g-4">
    {% for user in all_users %}
    {% if user.user_id != deets.user_id %}
    <div class="col">
        <div class="card bgcolor">
          <a href="/profile/{{user.user_id}}/">
            {% if user.user_picture %}
            <img src="/static/profile_pictures/{{user.user_picture}}" class="card-img-top" alt="...">
            {% else %}
            <img src="/static/images/user.jpeg" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body bgcolor">
            <h5 class="card-title text-light">{{ user.user_fname }} {{ user.user_lname }}</h5>
            <p class="card-text"></p>
          </div>
        </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
  </div>

{% endblock othercontent %}


{% block mid_content %}
{% endblock mid_content %}
{% block right_content %}
{% endblock right_content %}

