{% extends "user/userinterface.html" %}


{% block left_content %}
    <div class="col-sm-3 pt-5">
    <div class="tab1 pt-3">
        <div class="align-center">
            {% if deets and deets.user_picture != None %}
            <img src="/static/profile_pictures/{{deets.user_picture}}" alt="{{deets.user_fname}}" width="76%" height="76%" class="profile_pic">
            {% else %}
            <img src="/static/images/user.jpeg" alt="user" width="76%" height="76%" class="profile_pic">
            {% endif %}
            <span class="pic_edit"><a href="{{ url_for('change_dp')}}">&nbsp;&nbsp;edit</a></span>
        </div>
        <div class="text-end profile_edit"><a href="{{ url_for('edit_profile')}}">Edit Profile</a></div>
        <div class="text-start">
          <span class="content_profile_night">{{ deets.user_fname}} {{ deets.user_lname}}</span><br>
          <span class="content_profile_night">{{ deets.user_email}}</span><br>
          <span class="content_profile_night">{{ deets.user_gender}}</span><br>
          <span class="content_profile_night">{{ deets.user_phone}}</span><br>
          {% if deets.user_lga and deets.user_state %}
          <span class="content_profile_night">{{ deets.user_lga_deets.lga_name }}, {{ deets.user_state_deets.state_name }}</span><br>
          {% endif %}
          {% if deets.user_desc %}
          <span class="content_profile_night">{{ deets.user_desc }}</span><br>
          {% endif %}
        </div>
    </div>
    </div>
{% endblock left_content %}

{% block otherpages %}
{% endblock otherpages %}

{% block mid_content %}
<div class="col-sm-5 tab2 pt-4 scroll">
  <div class="row justify-content-center scroll gap-2 mb-3">
    <hr>
    <form enctype="multipart/form-data" method="post">
        <h1>Change Password</h1>
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" >
        <div class="row g-3">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control bgcolor text-light" name="old_pwd" id="old_pwd" placeholder="Old Password" required>
                    <label class="labelcol" for="old_pwd">Old Password</label>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control bgcolor text-light" name="new_pwd" id="new_pwd" placeholder="New Password" required>
                    <label class="labelcol" for="new_pwd">New Password</label>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control bgcolor text-light" name="new_pwd1" id="new_pwd1" placeholder="Confirm New Password" required>
                    <label class="labelcol" for="new_pwd1">Confirm New Password</label>
                </div>
            </div>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form> 
  </div>
</div>
{% endblock mid_content %}
{% block right_content %}
<div class="col-sm-3 tab3 pt-3 scroll d-none d-sm-none d-md-block">
  {% with message = get_flashed_messages(with_categories=True) %}
  {% if message %}
  {% for cat, msg in message %}
  {% if cat == 'error' %}
      <div class="alert alert-danger noround text-center">
          {{ msg }}
      </div>
  {% else %}
      <div class="alert alert-info noround text-center">
          {{ msg }}
      </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}
{% endblock right_content %}

