{% extends "user/userinterface.html" %}




{% block othercontent %}
<div cvlass="row">
    <div class="col">
        <h1>Community News</h1>
        <br>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-md-5">
        <img src="/static/images/csn.png" width="70%" alt="csn-page maintenance" style="margin-left:65px;">
    </div>
    <h5 class="display-4" style="margin-left:35px;">Opps! Page Under Maintenance</h5>

</div>
{% endblock othercontent %}


{% block mid_content %}
{% endblock mid_content %}
{% block right_content %}
{% endblock right_content %}

