{% extends "user/home_layout.html" %}

{% block navopp %}
  <a class="nav-link active" href="{{url_for('volunteer_opp')}}">Volunteer Opportunities</a>
{% endblock navopp %}

{% block content %}
    <div class="my-5 py-4">
      <!-- Page Content -->
      <div class="container mt-2">
        <!-- Volunteer Opportunities -->
        <div class="row justify-content-center">
          <div class="col-md-11">
            <h1 class="display-3">Volunteer Opportunities</h1>
            <p class="lead">Welcome to the Volunteer Opportunities page—a dedicated space for residents who wish to make a positive impact on our community through volunteerism and service. Engaging in volunteer opportunities not only contributes to the well-being of our neighborhood but also fosters a sense of unity and collaboration among residents.</p>
            <!-- Volunteer 1 -->
            <div>
            <h5>Community Clean-Up Events</h5>
            <img src="path/to/news2.jpg" alt="volunteer 2 Image">
            <p class="lead">Join fellow residents in efforts to keep our community clean and beautiful. Participate in scheduled clean-up events targeting public spaces, parks, and communal areas. Your contribution helps create a visually appealing and healthy environment for everyone.</p>
            </div>
            <!-- Volunteer 2 -->
            <div>
            <h5>Local Charity Support</h5>
            <img src="path/to/news2.jpg" alt="volunteer 2 Image">
            <p class="lead">Explore opportunities to support local charities and nonprofit organizations. Whether it's organizing donation drives, participating in fundraising events, or volunteering at a local shelter, your involvement makes a significant difference in the lives of those in need.</p>
            </div>
            <!-- Volunteer 3 -->
            <div>
            <h5>Neighborhood Watch Program</h5>
            <img class="news-img" src="path/to/news2.jpg" alt="volunteer 2 Image">
            <p class="lead">Contribute to community safety by participating in our Neighborhood Watch Program. Join organized patrols, attend safety meetings, and collaborate with fellow residents to enhance the security of our neighborhood.</p>
            </div>
            <!-- Volunteer 4 -->
            <div>
            <h5>Educational Mentorship</h5>
            <img class="news-img" src="path/to/news2.jpg" alt="volunteer Image">
            <p class="lead">Inspire the next generation by getting involved in educational mentorship programs. Offer your expertise, guidance, and support to students in our community, contributing to their academic and personal development.</p>
            </div>
            <!-- Volunteer 5 -->
            <div>
            <h5>Environmental Stewardship Initiatives</h5>
            <img class="news-img" src="path/to/news2.jpg" alt="volunteer Image">
            <p class="lead">Play a role in environmental conservation by participating in stewardship initiatives. Engage in tree planting, recycling programs, and community gardening projects to promote sustainability and preserve our local environment.</p>
            </div>
            <!-- Volunteer 6 -->
            <div>
            <h5>Local Events Organization</h5>
            <img class="news-img" src="path/to/news2.jpg" alt="volunteer 2 Image">
            <p class="lead">Contribute to the planning and execution of local events, festivals, and gatherings. Volunteering in event organization enhances community engagement and ensures the success of various cultural and social initiatives.</p>
            </div>
            <!-- Volunteer 7 -->
            <div>
            <h5>Emergency Response Team</h5>
            <img class="news-img" src="path/to/news2.jpg" alt="volunteer 2 Image">
            <p class="lead">Become part of the emergency response team, assisting during critical situations. Training and volunteering in this capacity empower you to contribute effectively in times of need, fostering a community that looks out for one another.</p>
            </div>
            <!-- Volunteer 8 -->
            <div>
            <h5>Youth Sports Coaching</h5>
            <img class="news-img" src="path/to/news2.jpg" alt="volunteer 2 Image">
            <p class="lead">If you have a passion for sports, consider volunteering as a youth sports coach. Help nurture skills, teamwork, and camaraderie among young residents, fostering a positive and active lifestyle.</p>
            </div>
            <!-- Volunteer 9 -->
            <div>
            <h5>Community Garden Maintenance</h5>
            <img class="news-img" src="path/to/news2.jpg" alt="volunteer 2 Image">
            <p class="lead">Participate in maintaining our community gardens. Whether you have a green thumb or are eager to learn, helping with garden upkeep contributes to the aesthetic appeal of our neighborhood.</p>
            </div>
            <br>
            <div>
              <h5 class="outro_mess">Explore these volunteer opportunities, and find the one that aligns with your interests and availability. Your commitment to volunteerism strengthens the fabric of our community, creating a more connected and supportive environment for all. Thank you for considering ways to make a positive impact through volunteer service.</h5>
            </div>
        </div>
      </div>
      </div>
    </div>

    {% endblock content %}
    
