{% extends "admin/admin_layout.html" %}
{% block admincontent %}
<main>
    {% set m = get_flashed_messages(with_categories=True) %}
    {% if m %}
        {% for cat,msg in m %}
        {% if cat == "error" %}
            <div class="alert alert-danger noround col-4">
            {{ msg }}
            </div>
        {% else %}
            <div class="alert alert-info noround col-4">
            {{ msg }}
            </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active lead">Users</li>
        </ol>
        <!--User Management Data-->
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bgcolor text-success mb-4">
                    <a style="color:#02834f;text-decoration:none;" href="/admin/registered-users/">
                    <div class="card-body text-center display-5">{{ all_registered_users}}</div>
                    <div class="card-body text-center p-0">Registered Users</a></div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bgcolor text-success mb-4">
                    <a style="color:#02834f;text-decoration:none;" href="/admin/admin-users/">
                    <div class="card-body text-center display-5">{{all_admin_users}}</div>
                    <div class="card-body text-center p-0">Admin Users</a></div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bgcolor mb-4">
                    <a style="color:red;text-decoration:none;" href="/admin/blocked-users/">
                    <div class="card-body text-center display-5" style="color:red;">{{blocked_users}}</div>
                    <div class="card-body text-center p-0">Blocked Users</a></div>
                </div>
            </div>
         </div>

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active lead">Reports</li>
        </ol>
        <!-- Report Management Data -->
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bgcolor mb-4">
                    <a style="color:#02834f;text-decoration:none;" href="/admin/all-reports/">
                    <div class="card-body text-center display-5">{{all_reports}}</div>
                    <div class="card-body text-center p-0">Reports</a></div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bgcolor mb-4">
                    <a style="color:#02834f;text-decoration:none;" href="/admin/anonymous-reports/">
                    <div class="card-body text-center display-5">{{anonymous}}</div>
                    <div class="card-body text-center p-0">Anonymous Reports</a></div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bgcolor mb-4">
                    <a style="color:red;text-decoration:none;" href="/admin/restricted-reports/">
                    <div class="card-body text-center display-5">{{restricted_reports}}</div>
                    <div class="card-body text-center p-0">Restricted Reports</div></a>
                </div>
            </div>
            
        </div>
            
        
    </div>
</main>
{% endblock admincontent %}
                