{% extends "admin/admin_layout.html" %}
{% block admincontent %}
<main>
    <div class="container-fluid px-4">
        <div class="row justify-content-center">
            <div class="col-6">
                {% set m = get_flashed_messages(with_categories=True) %}
                {% if m %}
                    {% for cat,msg in m %}
                    {% if cat == "error" %}
                        <div class="alert alert-danger noround text-center">
                        {{ msg }}
                        </div>
                    {% else %}
                        <div class="alert alert-info noround text-center">
                        {{ msg }}
                        </div>
                    {% endif %}
                    {% endfor %}
                {% endif %}
                <h1 class="mt-4">Change Password</h1>
                <hr>
                <form enctype="multipart/form-data" method="post">
                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" >
                    <div class="row g-3">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control bgcolor text-light" name="old_pwd" id="old_pwd" placeholder="Old Password" required>
                                <label class="labelcol" for="old_pwd">Old Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control bgcolor text-light" name="new_pwd" id="new_pwd" placeholder="New Password" required>
                                <label class="labelcol" for="new_pwd">New Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control bgcolor text-light" name="new_pwd1" id="new_pwd1" placeholder="Confirm New Password" required>
                                <label class="labelcol" for="new_pwd1">Confirm New Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>        
            </div>
        </div>  
    </div>
</main>
{% endblock admincontent %}
                